.App-header {
  background-color: #FF742B;
  color: white;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .App-header a {
    margin-left: auto; }
  .App-header a img {
    max-width: 20px;
    padding: 20px; }
  .App-header .App-title {
    position: absolute;
    font-size: 1.5em; }
