.link-navigator {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: auto;
  background: white; }
  .link-navigator header {
    width: 100%;
    height: 60px;
    color: white;
    background: #FF742B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0; }
  .link-navigator footer {
    width: 100%;
    height: 60px;
    color: white;
    background: #FF742B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0; }
  .link-navigator section {
    background: white; }
  .link-navigator section p {
    line-height: 1.8rem;
    padding: 0px 20px 20px 20px;
    white-space: pre-line; }
  .link-navigator h1 {
    font-size: 24px;
    padding: 20px;
    text-align: center; }
