.menu {
  background-color: #FF742B;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .menu a {
    width: 100%;
    text-align: center;
    border: 0;
    font-size: 33px;
    display: flex;
    justify-content: center; }
  .menu li {
    border: 0;
    padding: 20px; }
  .menu a:link, .menu a:visited, .menu a:hover, .menu a:active, .menu a:hover {
    color: white;
    text-decoration: none; }
