.read-later {
  ul {
    padding-top: 60px;
  }

  .empty-reading-list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      max-height: 20px;
      margin-left: 20px;
    }

  }

  .hide {
    display: none;
  }

}
