.read-later ul {
  padding-top: 60px; }

.read-later .empty-reading-list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.read-later li {
  text-align: left;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
  cursor: pointer; }
  .read-later li p {
    padding: 20px; }
  .read-later li img {
    padding: 20px;
    max-height: 20px;
    margin-left: 20px; }

.read-later .hide {
  display: none; }
