.read-later {
  ul {
    padding-top: 60px;
  }

  .empty-reading-list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    text-align: left;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    justify-content: space-between;
    cursor: pointer;
    p {
      padding: 20px;
    }
    img {
      padding: 20px;
      max-height: 20px;
      margin-left: 20px;
    }

  }

  .hide {
    display: none;
  }

}
